<input #newHero (keyup.enter)="addHero(newHero.value)" (blur)="addHero(newHero.value); newHero.value='' ">

<button (click)="addHero(newHero.value)">Add</button>
<ul>
    <li *ngFor="let hero of heroes">{{hero}}</li>
</ul>

<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>

<p appHighlight>Highlight me!</p>
<p appHighlight="yellow">Highlighted in yellow</p>
<p [appHighlight]="'orange'">Highlighted in orange</p>
<p [appHighlight]="color">Highlighted with parent component's color</p>
<p [appHighlight]="color" defaultColor="violet">
    Highlight me too!
</p>

<p *ngIf="true">
    Expression is true and ngIf is true.
    This paragraph is in the DOM.
</p>
<p *ngIf="false">
    Expression is false and ngIf is false.
    This paragraph is not in the DOM.
</p>

<p>The hero's birthday is {{ birthday | date:'fullDate' }}</p>

<h2>Power Boost Calculator</h2>
<div>Normal power: <input [(ngModel)]="power"></div>
<div>Boost factor: <input [(ngModel)]="factor"></div>
<p>
    Super Hero Power: {{power | exponentialStrength: factor}}
</p>

<app-flying-heroes></app-flying-heroes>

<app-hero-async-message></app-hero-async-message>

<h2>Heroes from JSON File</h2>

<div *ngFor="let hero of ('assets/heroes.json' | fetch) ">
    {{hero.name}}
</div>

<p>Heroes as JSON:
    {{'assets/heroes.json' | fetch | json}}
</p>